@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img {
  max-width: 100%;
}

body {
  background-color: #1a202e;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;
}

.devicon-github-original {
  font-size: 60px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.container {
  width: 60%;
  max-width: 960px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #808080;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #4a84b4;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 6px 0px #2b638f;
  box-shadow: 0px 6px 0px #2b638f;
}

.container header #btn-search:hover {
  background-image: -webkit-linear-gradient(bottom, #4a84b4 0%, #66a6d6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top,
      color-stop(0, #4a84b4),
      color-stop(1, #66a6d6));
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  -webkit-transform: translate(0, 6px);
  transform: translate(0, 6px);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  box-shadow: none;
}

.container .profile-data {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.container .profile-data .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container .profile-data .info .data {
  padding: 30px;
}

.container .profile-data .info img {
  width: 50%;
  min-width: 225px;
  border-radius: 50%;
  border: 10px solid #4a84b4;
}

.container .profile-data .info h1 {
  margin-bottom: 20px;
}

.container .profile-data .info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.container .profile-data .info .follow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
}

/* REPOSITORIES */
.container .profile-data .repositories {
  display: flex;
  flex-direction: column;
}

.container .profile-data .repositories ul {
  flex-wrap: wrap;
  height: 45vh;
  overflow-y: scroll;
}

.container .profile-data .repositories .name-repo {
  color: #2b638f;
  font-weight: bold;
}

.container .profile-data .repositories ul li a {
  border: 1px solid #a1a1a1;
  background-color: #fafafa;
  margin: 8px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  align-items: start;
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 0 16px;
  color: #1a202e;
}

.container .profile-data .repositories ul li a:hover {
  background-color: #66a6d6;
  color: #fff
}

.container .profile-data.hide {
  display: none;
}

/* EVENTS */
.events {
  border-top: 1px solid #808080;
  padding-top: 15px;
  margin-top: 15px;
}

.events ul li {
  align-items: start;
  text-align: start;
  display: flex;
}

.events ul li .type-event {
  font-weight: bold;
  margin: 8px;
  line-height: 20px;
}

.events ul li .commit {
  color: #808080;
}

/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.container .profile-data .info h1,
.container .profile-data .repositories h2,
.events h2 {
  background-color: #4a84b4;
  color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
}

.container .profile-data .repositories,
.container .profile-data .info,
.events {
  flex-grow: 1;
  flex-basis: 50%;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #4a84b4;
}

/* RESPONSIVE */
@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
  }

  .container header {
    width: 100%;
  }

  .container header h1 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .container header #input-search,
  .container header #btn-search {
    width: 100%;
  }

  .container .profile-data {
    display: block;
  }
}

@media (max-width: 500px) {
  main {
    padding: 15% 0;
  }

  .container .profile-data .info {
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
  }

  .container .profile-data .info img {
    margin-bottom: 20px;
  }

  .container .profile-data .info img,
  .container .profile-data .info .data {
    width: 75%;
    padding: 0;
  }
}